    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{id}}">{{blog_title}}</a></h4>
      </div>
      <div class="col-md-8">
        <h4><a href="/blog/{{id}}">{{blog_content}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
      </div>
      
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">Add Comment</button>
      </div>
    </div>

