<!-- Loop over each object in the projects array -->
{{#each blogs }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{id}}">Blog Number {{id}}</a>
    </h2>
    <p>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{blog_content}}</span>
    </p>
    <p>Created by {{user_id}} on {{date_created}}</p>
  </div>
</div>
{{/each}}
